<!-- Navigation-->
<nav class="navbar navbar-expand-lg fixed-top" id="mainNav" style="background-color: #b0e0e6 ;"> 
    <div class="container px-4 px-lg-5">
        <!-- <a class="navbar-brand" href="#page-top">{{ this.theme.config.name }}</a> -->
        <a href="/"><img  src="{{'assets/img/logo.png'|theme}}" alt="..."  width="158px" style="margin-top: 15px;"/></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link text-white" href="{{ 'list-tenant'|page }}">Tender Information</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{{'/'|page}}/backend/ap/tender/publictenantshortforms/create">Registrasi Tenant</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="{{'/'|page}}/backend">Login</a></li>
            </ul>
        </div>
    </div>
</nav>