<section class="hero-area overlay">
    <!-- <video autoplay muted loop class="hero-video">
        <source src="images/banner/hero-video.mp4" type="video/mp4">
    </video> -->
    <div class="block">
        <h1>Experience the new reality</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  Fugit, excepturi. At recusandae sit perferendis autem,iste tempora nostrum numquam sapiente!</p>
        <a data-scroll href="#tender-information" class="btn btn-transparent">Explore Us</a>
    </div>
</section>