url = "/tender/:id"
layout = "default"
title = "Tender"
activePage = ""
==

use Ap\Tender\Models\Tender;
use System\Models\File;

function onStart() {
    $id = $this->param('id');
    $tenant = Tender::where('id', $id)->with('business_field')->first();
    foreach ($tenant->pic_flyer as $idx => $row) {
        if (file_exists($row->getLocalPath())) {
            $tenant['pic_flyer'][$idx]['file_exists'] = 1;
        } else {
            $tenant['pic_flyer'][$idx]['file_exists'] = 0;
        }
    }
    $this['detailTender'] = $tenant;
}

==

        {% partial 'preloader' %}

        {% partial 'header' %}

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h2>{{ detailTender.name }}</h2>
                            <p>{{ tenant.created_at|date('d M Y') }}</p>
                            <div class="border detail-page"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- first count item -->
                    {% for img in detailTender.pic_flyer %}
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
                        <div class="counters-item">
                            <img class="img-thumbnail rounded" src="{{ img.file_exists ? img.getPath() : asset('/themes/ap-tender-v2/assets/images/default-image.png') }}">
                        </div>
                    </div>
                    {% endfor %}
                    <!-- end first count item -->
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h4>{{ detailTender.description|raw }}</h4>
                    </div>
                    <div class="col-lg-12">
                        <h3>Jadwal Tender</h3>
                        <div class="border detail-page"></div>
                        <table class="table table-border">
                            <thead>
                                <tr>
                                    <th>Jadwal</th>
                                    <th>Tanggal Mulai</th>
                                    <th>Tanggal Berakhir</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for schedule in detailTender.schedules %}
                                <tr>
                                    <td>{{ schedule.name }}</td>
                                    <td>{{ schedule.date_start|date('d M Y') }}</td>
                                    <td>{{ schedule.date_end|date('d M Y') }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h3>Documents</h3>
                        <div class="border detail-page"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="col-lg-12">
                        <a type="button" class="btn btn-primary" target="_blank" href="{{ detailTender.doc_rfq.getPath() }}">Document RFQ</a>
                        <a type="button" class="btn btn-primary" target="_blank" href="{{ detailTender.doc_rfp.getPath() }}">Document RFP</a>
                        {% for doc_support in detailTender.doc_support %}
                        <a type="button" class="btn btn-primary" target="_blank" href="{{ doc_support.getPath() }}">{{ doc_support.file_name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        {% partial 'footer' %}